node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Model files / large assets (optional)
model/*.h5
model/*.ckpt
model/*.pb

# OS / Editor specific
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs and temporary files
*.log
*.tmp

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Ignore environment variables if you use .env
.env
